.app {
    max-width: 700px;
    margin: 0 auto;
}

.container,
.task-btns {
    display: flex;
}

.add-task-form {
    width: 84%;
}

.add-task-button {
    width: 16%;
}

.icon {
    font-size: 18px;
    margin-left: 30px;
}

.icon-edit,
.icon-delete,
.icon-save {
    color: dimgray;
}

.task-item-checked {
    text-decoration: line-through;
}